#root {
  height: 100vh;
}

/* Header */
.header-logout {
  width: 2.5rem;
  height: 2.5rem;
}
.search-items-bar {
  margin-left: 8em;
}

/* Login & Register */

#login {
  height: 100vh;
}

.custom-form {
  width: 700px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 5px 85px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.login-register-label {
  margin-left: 0.7rem;
}

/* Items */

.items-btns {
  justify-content: space-between;
}

.item-list {
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  height: 20rem;
  margin: 0.2rem;
}

/* Item Details */
.item-details-all {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  height: 15rem;
}

.item-details-photo {
  height: 15em;
  width: 15em;
}
.item-details-main {
  width: 30em;
  height: auto;
  border-style: solid;
  border-width: 1px;
}

.item-details-field {
  margin-left: auto;
  margin-right: 1em;
}

.item-details-back {
  margin-top: 1em;
  align-self: right;
}
